.btn{
font-size: 20px;
}

.bg-danger{
    background-color: #bd0101;
}
.bg-success{
    background-color: #65ff99;
}
.gameover{
    color: #f2f2f2;
}
#win{
    font-size: 10em;
}
#gover{
    font-size: 6em;
}
